# Secrets & Environment Files
.env
*.env
**/.env

# Python Bytecode & Environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# IDE / System
.DS_Store
Thumbs.db
.vscode/
.idea/
